div{
  border-radius: 5px;
}

#header {
  z-index: 1;
  position: fixed;
  width: 97.5%;
  margin-top: -15px;
  height: 20px;
  margin-bottom: 5px;
}

#name {
  margin-left: 5px;
  padding-top: 5px;
  font-size: 80px;
  font-family: Verdana, sans-serif;
  margin-bottom: 5px;
}

#email {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana; sans-serif:
}

body {
  background-color: lightblue;
  height: 100;
  margin: 5px;  
  width: 100;
}

h2 { 
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  font-family: Verdana, sans-serif:
}

p {
  Font-size: 20px;
  font-family: Verdana, sans-serif;
  text-align: left;
  bottom-margin: 5cm;
}
.right {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  faont-family: Verdana, sans-serif;
  color: #000000;
}

li {
  list-style-type: square;
}

.right{ 
  position: relative;
  float: right;
  margin-top: 50px;
  width: 88%;
  height: 400px;
  margin-bottom: 10px;
}

img { 
  float: right;
}




