.div {
  border-radius: 5px;
}

#header {
  width: 97.5%;
  margin-top: -15px;
  height: 30px;
  margin-bottom: 10px;
}

#name {
  text-align: center;
  padding-top: 5px;
  font-size: 80px;
  font-family: Verdana, sans-serif;
  margin-bottom: 5px;
}

#date {
  float: right;
  margin-right: 10px
  font-family: Verdana, sans-serif;
}

#email {
  margin-left: 5px;
  padding-top: -5px;
  font-size: 16px;
  font-family: Verdana; sans-serif:
}

body {
  background-color: lightblue;
  font-family: Verdana, sans-serif;
  height: 100px;
  margin: 5px;  
}

h2 { 
  margin-left: -5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: Verdana, sans-serif:
}

p {
  Font-size: 18px;
  font-family: Verdana, sans-serif;
  text-align: left;
  bottom-margin: 5cm;
}
.right {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  faont-family: Verdana, sans-serif;
}

li {
  list-style-type: square;
  font-family: Verdana, sans-serif;
}

.right{ 
  position: relative;
  float: right;
  margin-top: 90px;
  width: 88%;
  height: 400px;
  margin-bottom: 10px;
}





