div{
  border-radius: 5px;
}

#header {
  z-index: 1;
  position: fixed;
  width: 97.5%;
  margin-top: -15px;
  height: 60px;
  margin-bottom: 5px;
}

#name {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 40px;
  margin-bottom: 5px;
}

#email {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 16px;
}

body {
  background-color: lightblue;
  height: 100;
  margin: 0;  
  text-align: left;
  width: 100;
}

h1 {
  Font-size: 80px;
  text-align: center;
}

h2 { 
  Font-size: 30px;
  text-align: left;
}

p {
  Font-size: 20px;
  text-align: left;
  bottom-margin: 5cm;
}

img { 
  float: right;
}




